{% extends 'base.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Nouvelle Facture</h1>
        <a href="{{ path('admin_invoice_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Retour
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-file-invoice me-1"></i> Créer une facture
            </h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6 mb-3">{{ form_row(form.student) }}</div>
                    <div class="col-md-6 mb-3">{{ form_row(form.fee) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">{{ form_row(form.totalAmount) }}</div>
                    <div class="col-md-4 mb-3">{{ form_row(form.paidAmount) }}</div>
                    <div class="col-md-4 mb-3">{{ form_row(form.status) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">{{ form_row(form.issueDate) }}</div>
                    <div class="col-md-6 mb-3">{{ form_row(form.dueDate) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">{{ form_row(form.discountPercentage) }}</div>
                    <div class="col-md-4 mb-3">{{ form_row(form.discountAmount) }}</div>
                    <div class="col-md-4 mb-3">{{ form_row(form.taxAmount) }}</div>
                </div>
                <div class="mb-3">{{ form_row(form.notes) }}</div>

                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i> Enregistrer
                </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

