{% extends 'base.html.twig' %}

{% block title %}Modifier l'élève - {{ student.firstName }} {{ student.lastName }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Modifier l'élève</h1>
        <div>
            <a href="{{ path('admin_student_show', {'id': student.id}) }}" class="btn btn-info">
                <i class="fas fa-eye"></i> Voir
            </a>
            <a href="{{ path('admin_student_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Modifier les informations</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.firstName) }}
                                {{ form_widget(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.lastName) }}
                                {{ form_widget(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.dateOfBirth) }}
                                {{ form_widget(form.dateOfBirth) }}
                                {{ form_errors(form.dateOfBirth) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.gender) }}
                                {{ form_widget(form.gender) }}
                                {{ form_errors(form.gender) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone) }}
                                {{ form_errors(form.phone) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address) }}
                        {{ form_errors(form.address) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.matriculeInterne) }}
                                {{ form_widget(form.matriculeInterne) }}
                                {{ form_errors(form.matriculeInterne) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.matriculeNational) }}
                                {{ form_widget(form.matriculeNational) }}
                                {{ form_errors(form.matriculeNational) }}
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <h6 class="text-primary">État civil</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.placeOfBirth) }}
                                {{ form_widget(form.placeOfBirth) }}
                                {{ form_errors(form.placeOfBirth) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.nationality) }}
                                {{ form_widget(form.nationality) }}
                                {{ form_errors(form.nationality) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.birthCertificateNumber) }}
                                {{ form_widget(form.birthCertificateNumber) }}
                                {{ form_errors(form.birthCertificateNumber) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.cmuNumber) }}
                                {{ form_widget(form.cmuNumber) }}
                                {{ form_errors(form.cmuNumber) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastSchoolAttended) }}
                        {{ form_widget(form.lastSchoolAttended) }}
                        {{ form_errors(form.lastSchoolAttended) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.photoFile) }}
                        {% if student.photo %}
                            <div class="mb-2"><img src="{{ asset(student.photo) }}" alt="Photo" style="max-height: 90px;" class="img-thumbnail"></div>
                        {% endif %}
                        {{ form_widget(form.photoFile) }}
                        {{ form_errors(form.photoFile) }}
                    </div>

                    <hr class="my-4">
                    <h6 class="text-primary">Informations du parent/tuteur</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.parentName) }}
                                {{ form_widget(form.parentName) }}
                                {{ form_errors(form.parentName) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.parentPhone) }}
                                {{ form_widget(form.parentPhone) }}
                                {{ form_errors(form.parentPhone) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.parentEmail) }}
                                {{ form_widget(form.parentEmail) }}
                                {{ form_errors(form.parentEmail) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.parentFunction) }}
                                {{ form_widget(form.parentFunction) }}
                                {{ form_errors(form.parentFunction) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.parentAddress) }}
                        {{ form_widget(form.parentAddress) }}
                        {{ form_errors(form.parentAddress) }}
                    </div>

                    <hr class="my-4">
                    <h6 class="text-primary">Contact d'urgence</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.emergencyContact) }}
                                {{ form_widget(form.emergencyContact) }}
                                {{ form_errors(form.emergencyContact) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.emergencyPhone) }}
                                {{ form_widget(form.emergencyPhone) }}
                                {{ form_errors(form.emergencyPhone) }}
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <h6 class="text-primary">Informations supplémentaires</h6>

                    <div class="form-group">
                        {{ form_label(form.medicalInfo) }}
                        {{ form_widget(form.medicalInfo) }}
                        {{ form_errors(form.medicalInfo) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.notes) }}
                        {{ form_widget(form.notes) }}
                        {{ form_errors(form.notes) }}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Enregistrer les modifications
                        </button>
                        <a href="{{ path('admin_student_show', {'id': student.id}) }}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Annuler
                        </a>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Informations actuelles</h6>
                </div>
                <div class="card-body">
                    <p><strong>Matricule interne :</strong> {{ student.matriculeInterne }}</p>
                    {% if student.matriculeNational %}<p><strong>Matricule national :</strong> {{ student.matriculeNational }}</p>{% endif %}
                    <p><strong>Statut actuel :</strong> 
                        <span class="badge bg-{{ student.statusColor }}">
                            {{ student.statusLabel }}
                        </span>
                    </p>
                    <p><strong>Créé le :</strong> {{ student.createdAt|date('d/m/Y à H:i') }}</p>
                    <p><strong>Dernière modification :</strong> {{ student.updatedAt|date('d/m/Y à H:i') }}</p>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Aide</h6>
                </div>
                <div class="card-body">
                    <p class="text-muted">
                        <i class="fas fa-info-circle"></i>
                        Modifiez les informations de l'élève. Les changements seront sauvegardés immédiatement.
                    </p>
                    <p class="text-muted">
                        <i class="fas fa-exclamation-triangle"></i>
                        Le numéro d'élève ne peut pas être modifié.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
