{% extends 'base.html.twig' %}

{% block title %}Nouvelle Année Scolaire{% endblock %}
{% block heading %}Nouvelle Année Scolaire{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            {% embed 'components/page_header.html.twig' with {
                title: block('heading'),
                icon: 'fa-calendar-alt',
                color: 'primary',
                breadcrumb: [
                    { label: 'Années scolaires', path: path('admin_school_year_index') },
                    { label: block('heading') }
                ]
            } %}
                {% block actions %}
                    <a href="{{ path('admin_school_year_index') }}" class="btn btn-light"><i class="fas fa-arrow-left me-1"></i> Retour</a>
                {% endblock %}
            {% endembed %}

            {% include '_flash.html.twig' %}

            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="mb-3">{{ form_row(form.name) }}</div>
                        <div class="row">
                            <div class="col-md-6 mb-3">{{ form_row(form.startDate) }}</div>
                            <div class="col-md-6 mb-3">{{ form_row(form.endDate) }}</div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">{{ form_widget(form.isCurrent) }} {{ form_label(form.isCurrent) }}</div>
                            <small class="text-muted">{{ form_help(form.isCurrent) }}</small>
                        </div>
                        <div class="d-flex justify-content-between mt-4 pt-3 border-top">
                            <a href="{{ path('admin_school_year_index') }}" class="btn btn-light"><i class="fas fa-arrow-left me-1"></i> Retour</a>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save me-1"></i> Enregistrer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
