                        <div class="row">
                            <div class="col-md-6 mb-3">{{ form_row(form.employee) }}</div>
                            <div class="col-md-3 mb-3">{{ form_row(form.contractType) }}</div>
                            <div class="col-md-3 mb-3">{{ form_row(form.status) }}</div>
                        </div>
                        <div class="mb-3">{{ form_row(form.jobTitle) }}</div>
                        <div class="row">
                            <div class="col-md-4 mb-3">{{ form_row(form.startDate) }}</div>
                            <div class="col-md-4 mb-3">{{ form_row(form.endDate) }}</div>
                            <div class="col-md-4 mb-3">{{ form_row(form.trialEndDate) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">{{ form_row(form.baseSalary) }}</div>
                            <div class="col-md-6 mb-3">{{ form_row(form.weeklyHours) }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 mb-3">{{ form_row(form.maritalStatus) }}</div>
                            <div class="col-md-4 mb-3">{{ form_row(form.numberOfChildren) }}</div>
                            <div class="col-md-4 mb-3">{{ form_row(form.adultChildren) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">{{ form_row(form.isDeclared) }}</div>
                            <div class="col-md-6 mb-3">{{ form_row(form.regime) }}</div>
                        </div>
                        <div class="mb-3">{{ form_row(form.notes) }}</div>
