{% extends 'base.html.twig' %}

{% block title %}Nouveau type de transaction{% endblock %}
{% block heading %}Nouveau type de transaction{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-7">
            {% embed 'components/page_header.html.twig' with {
                title: block('heading'),
                icon: 'fa-tags',
                color: 'primary',
                breadcrumb: [
                    { label: 'Transactions', path: path('admin_financial_transaction_index') },
                    { label: 'Types', path: path('admin_transaction_type_index') },
                    { label: block('heading') }
                ]
            } %}
                {% block actions %}
                    <a href="{{ path('admin_transaction_type_index') }}" class="btn btn-light"><i class="fas fa-arrow-left me-1"></i> Retour</a>
                {% endblock %}
            {% endembed %}

            {% include '_flash.html.twig' %}

            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">{{ form_row(form.name) }}</div>
                            <div class="col-md-6 mb-3">{{ form_row(form.direction) }}</div>
                        </div>
                        <div class="mb-3">{{ form_row(form.description) }}</div>
                        <div class="mb-3">{{ form_row(form.isActive) }}</div>
                        <div class="d-flex justify-content-between mt-4 pt-3 border-top">
                            <a href="{{ path('admin_transaction_type_index') }}" class="btn btn-light"><i class="fas fa-times me-1"></i> Annuler</a>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save me-1"></i> Enregistrer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
