{% extends 'base.html.twig' %}

{% block title %}Nouvelle Plage Horaire{% endblock %}
{% block heading %}Nouvelle Plage Horaire{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-9">
            {% embed 'components/page_header.html.twig' with {
                title: block('heading'),
                icon: 'fa-clock',
                color: 'primary',
                breadcrumb: [
                    { label: 'Plages horaires', path: path('admin_time_slot_index') },
                    { label: block('heading') }
                ]
            } %}
                {% block actions %}
                    <a href="{{ path('admin_time_slot_index') }}" class="btn btn-light"><i class="fas fa-arrow-left me-1"></i> Retour</a>
                {% endblock %}
            {% endembed %}

            {% include '_flash.html.twig' %}

            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">{{ form_row(form.name) }}</div>
                            <div class="col-md-6 mb-3">{{ form_row(form.type) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">{{ form_row(form.startTime) }}</div>
                            <div class="col-md-6 mb-3">{{ form_row(form.endTime) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">{{ form_row(form.orderNumber) }}</div>
                            <div class="col-md-4 mb-3">{{ form_row(form.color) }}</div>
                            <div class="col-md-4 mb-3">{{ form_row(form.isActive) }}</div>
                        </div>
                        <div class="d-flex justify-content-between mt-4 pt-3 border-top">
                            <a href="{{ path('admin_time_slot_index') }}" class="btn btn-light"><i class="fas fa-arrow-left me-1"></i> Retour</a>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save me-1"></i> Enregistrer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
